// 各个页面共同样式

// ===========================Dashboard
.dashboard {
  display: flex;
  flex-flow: column;
  margin-top: 10px;

  .el-row {
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100%;
  }

  .user-info {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
  }
  .user-avator {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  .user-info-cont {
    padding-left: 50px;
    flex: 1;
    font-size: 14px;
    color: #999;
  }
  .user-info-cont div:first-child {
    font-size: 30px;
    color: #222;
  }
  .user-info-list {
    font-size: 14px;
    color: #999;
    line-height: 25px;
  }
  .user-info-list span {
    margin-left: 70px;
  }

  .grid-content {
    display: flex;
    align-items: center;
    height: 100px;
  }
  .grid-cont-right {
    flex: 1;
    text-align: center;
    font-size: 12px;
    color: #999;
  }
  .grid-num {
    font-size: 30px;
    font-weight: bold;
  }
  .grid-con-icon {
    font-size: 50px;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #fff;
  }
  .grid-con-1 .grid-con-icon {
    background: rgb(45, 140, 240);
  }
  .grid-con-1 .grid-num {
    color: rgb(45, 140, 240);
  }
  .grid-con-2 .grid-con-icon {
    background: rgb(100, 213, 114);
  }
  .grid-con-2 .grid-num {
    color: rgb(45, 140, 240);
  }
  .grid-con-3 .grid-con-icon {
    background: rgb(242, 94, 67);
  }
  .grid-con-3 .grid-num {
    color: rgb(242, 94, 67);
  }
}

// ===========================收银页面
.collenting-silver {
  .left-container {
    background-color: #d3dce6;
    .left-header {
      height: 52px;
      font-size: 16px;
      .header-container {
        height: 100%;
        padding: 5px 12px;
        background-color: #fff;
        border-bottom: 1px solid #ebeef5;
      }
    }
    .left-content {
      height: calc(100% - 233px);
      overflow: auto;
      background-color: #fff;
      font-size: 15px;
      border-bottom: 1px solid #ebeef5;
      .sell-container {
        height: 110px;
        padding: 5px 12px;
        background-color: #fff;
        border-bottom: 1px dashed #ebeef5;
        cursor: pointer;
      }
    }
    .left-footer {
      height: 180px;
      border-bottom: 1px solid #ebeef5;
      .footer-container {
        height: 100%;
        padding: 5px 12px;
        background-color: #fff;
      }
    }
  }
  .grid-content-card {
    .grid-content {
      display: flex;
      align-items: center;
      height: 100px;

      .grid-image {
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        color: #fff;
      }

      .grid-content-right {
        display: flex;
        flex: 1;
        flex-flow: column;
        justify-content: space-around;
        height: 100%;
        text-align: center;
        font-size: 16px;
        color: #999;
        .grid-name {
          color: #000;
        }
        .grid-number {
          padding: 0;
          display: flex;
          align-self: flex-end;
          margin-right: 10px;
        }
        .grid-button {
          padding: 10;
          display: flex;
          align-self: flex-end;
          margin-right: 10px;
        }
      }
    }
  }
  .el-main {
    padding: 0px !important;
  }

  .main-container {
    background-color: #ecf0f5;
    .main-header {
      padding: 5px 12px;
      background-color: #fff;
      border: 1px solid #ebeef5;
    }
  }
}
